.shop-meta{
  div{
    @media screen and (min-width: 48rem){
      display: inline-block;
    }
  }

  a{
    color: $light-gold;
  }

  .name{
    @include hidden;
  }
}

.tel{
  display: block;

  @media screen and (min-width: 48rem){
    display: inline-block;
    margin-left: 1rem;
  }
}

.email{
  display: block;

  @media screen and (min-width: 48rem){
    display: inline-block;
    margin-left: 1rem;
  }
}
