.intro-section{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgba($background-color, .95);

  @media screen and (min-width: 45rem){
    padding-top: 4rem;
    padding-bottom: 8rem;
  }

  p{
    margin: 0;
    font-size: 1.5rem;

    @media screen and (min-width: 45rem){
      font-size: 2rem;
    }
  }

  a{
    display: inline-block;
    margin: 2px;
    color: $font-color;
    letter-spacing: .5px;
    white-space:  nowrap;
    background-color: #fff;
  }
}

.studio-brand{
  font-weight: 700;
}

.raizel-brand{
  font-family: $raizel-font-family;
}

.anna-brand{
  font-family: $anna-font-family;
}

.ellie-brand{
  font-family: $ellie-font-family;
  font-weight: 100;
}
