$white: #DDDCC7;
$grey: #EDEEEF;
$black: #202428;
$green: #4A6757;
$dark-green: #2C3D39;
$gold: #E6D286;
$light-gold: #DDDCC7;

$background-color: $grey;
$secondary-background-color: $black;
$font-color: $black;
$header-color: $gold;
$primary-button-color: $green;
$secondary-button-color: $gold;
$link-color: $black;

$primary-font-family: 'Montserrat', sans-serif;
$raizel-font-family: 'Grumpy 88', serif;
$anna-font-family: 'Libre Baskerville', serif;
$ellie-font-family: 'Lato', sans-serif;
